$grey-space: 0.25;
$business-card__box-shadow:7px 4px 5px -4px rgba(0, 0, 0, 0.75);

.business-card {
  max-width: 300px;
  background-image: linear-gradient(
    180deg,
    $background-grey percentage($grey-space),
    $background-blue percentage($grey-space) 100%
  );
  z-index: 20;
  -webkit-box-shadow: $business-card__box-shadow;
  -moz-box-shadow: $business-card__box-shadow;
  box-shadow: $business-card__box-shadow;

  hr{
    width: 175px;
    background-color: $text-color;
  }
}

.business-card-top {
  img {
    margin-top: percentage($grey-space - 0.15);
    border-radius: 100px;
    width: 150px;
  }
}

.business-card-bottom{
  li {
    word-break: break-all;

    a {
      color: $text-color;
    }
  }
}