/* Fonts */
$primary-font:roboto;
$secondary-font:courier-prime;

/* Colours */
$text-color:white;

$ribbon-colour:#c72929;
$shadow-ribbon-colour:#8F1F1F;
$transparent-ribbon-colour:#c72929a1;

$alt-ribbon-colour:#f4ff77;
$alt-shadow-ribbon-colour:#D1DB58;

$background-grey: #d4d4d2;
$background-blue: #7e98b5;