.red-button-row {
  margin-top: 40%;

  .col {
    text-align: center;

    #red-button {
      cursor: pointer;
      background: linear-gradient(
        $ribbon-colour 150px,
        #c73e1d,
        #a23b72,
        #2e86ab 300px
      );
      background-size: 1px 300px;
      display: inline-block;
      color: white;
      font-weight: bold;
      font-family: $secondary-font;
      height: 110px;
      width: 110px;
      padding: 2rem;
      border-radius: 100px;
      box-shadow: 5px 3px 3px 0 rgba(0, 0, 0, 0.3);
      transition: 1s;
    }
  }
}

canvas {
  height: 100%;
  width: 100%;
  position: absolute;
}

@media (max-width: 991px) {
  .red-button-row {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
}
