/* Variables*/
/* Fonts */
/* Colours */
/*Stylesheets*/
.text-color {
  color: white;
}

.ribbon-background-color {
  background-color: #c72929;
}

.image-center {
  display: block;
  margin: auto;
}

body {
  margin: 0;
  font-family: roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.app {
  width: 100%;
  height: auto;
  min-width: 280px;
  min-height: 100vh;
  position: absolute;
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.app .app-container {
  padding-top: 10%;
  margin: auto;
}
.app .app-container .business-card-column {
  padding-right: 0px;
}
.app .app-container .business-card-column .business-card {
  margin-right: 0px;
}
.app .app-container .content-window-column {
  padding-left: 0px;
}

@media (max-width: 992px) {
  .app .app-container .business-card-column {
    padding-right: 15px;
    margin: auto;
  }
  .app .app-container .business-card-column .business-card {
    margin-right: auto;
    margin: auto;
  }
  .app .app-container .content-window-column {
    padding-left: 15px;
  }
}
.business-card {
  max-width: 300px;
  background-image: linear-gradient(180deg, #d4d4d2 25%, #7e98b5 25% 100%);
  z-index: 20;
  -webkit-box-shadow: 7px 4px 5px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 4px 5px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 4px 5px -4px rgba(0, 0, 0, 0.75);
}
.business-card hr {
  width: 175px;
  background-color: white;
}

.business-card-top img {
  margin-top: 10%;
  border-radius: 100px;
  width: 150px;
}

.business-card-bottom li {
  word-break: break-all;
}
.business-card-bottom li a {
  color: white;
}

.content-window {
  height: 95%;
  margin-top: 2%;
  z-index: 19;
}
.content-window .col-content-window {
  z-index: 18;
}
.content-window .col-content-window .window {
  background-color: white;
  height: 100%;
}
.content-window .tab-content {
  height: 100%;
}

/*larger than lg screens*/
@media (min-width: 992px) {
  .content-window .col-content-window .window {
    height: 490px;
    overflow: hidden;
  }
}
/*smaller than lg screens*/
@media (max-width: 992px) {
  .content-window .window {
    -webkit-box-shadow: 10px 4px 5px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 4px 5px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 4px 5px -4px rgba(0, 0, 0, 0.75);
    padding-bottom: 4rem;
  }
}
.content-window .col-ribbons-tab {
  margin-top: 25px;
}
.content-window .col-ribbons-tab .ribbon-tabs {
  z-index: 17;
  position: relative;
  right: 30px;
  font-weight: bold;
  text-transform: capitalize;
}
.content-window .col-ribbons-tab .ribbon-tabs .individual-ribbon {
  position: relative;
  text-align: left;
  width: 70%;
  background-color: #c72929;
  padding: 0.5rem 0rem;
  margin: 1rem 0rem;
  transition: 0.2s;
}
.content-window .col-ribbons-tab .ribbon-tabs .individual-ribbon.active-tab {
  margin-left: 40px;
}
.content-window .col-ribbons-tab .ribbon-tabs .individual-ribbon:focus {
  outline: none;
}
.content-window .col-ribbons-tab .ribbon-tabs .individual-ribbon.tab-red-button {
  background-color: #f4ff77;
  font-weight: bold;
}
.content-window .col-ribbons-tab .ribbon-tabs .individual-ribbon.tab-red-button::before {
  background-color: #f4ff77;
}
.content-window .col-ribbons-tab .ribbon-tabs .individual-ribbon.tab-red-button a {
  color: #c72929;
}
.content-window .col-ribbons-tab .ribbon-tabs .individual-ribbon.tab-red-button::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 0px;
  border: 28px solid #f4ff77;
  border-right-color: transparent;
  top: 0;
  left: calc(70% + 30px);
}
.content-window .col-ribbons-tab .ribbon-tabs .individual-ribbon.tab-red-button .icon-red-button {
  width: 2em;
}
.content-window .col-ribbons-tab .ribbon-tabs .individual-ribbon:hover {
  margin-left: 40px;
}
.content-window .col-ribbons-tab .ribbon-tabs .individual-ribbon::before {
  content: "";
  position: absolute;
  width: 50px;
  background-color: #c72929;
  height: 56px;
  top: 0;
  left: calc(1rem - 60px);
}
.content-window .col-ribbons-tab .ribbon-tabs .individual-ribbon::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 0px;
  border: 28px solid #c72929;
  border-right-color: transparent;
  top: 0;
  left: calc(70% + 30px);
}
.content-window .col-ribbons-tab .ribbon-tabs path {
  fill: white;
}
.content-window .col-ribbons-tab .ribbon-tabs a {
  color: white;
}
.content-window .col-ribbons-tab .ribbon-tabs a:hover {
  text-decoration: none;
}
.content-window .col-ribbons-tab .ribbon-tabs a:focus {
  outline: none;
  outline-color: transparent;
}
.content-window .window .lg-ribbon-tabs {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 2rem 0rem;
  text-transform: capitalize;
}
.content-window .window .lg-ribbon-tabs button {
  background-color: #c72929;
  border-color: #c72929;
  border-radius: 0px;
  width: 60%;
  max-width: 250px;
  position: relative;
  text-transform: capitalize;
  transition: 1s;
}
.content-window .window .lg-ribbon-tabs button.alt-ribbon-colour {
  color: #c72929;
  background-color: #f4ff77;
  border-color: #f4ff77;
}
.content-window .window .lg-ribbon-tabs button.alt-ribbon-colour::before, .content-window .window .lg-ribbon-tabs button.alt-ribbon-colour::after {
  border-color: #f4ff77;
}
.content-window .window .lg-ribbon-tabs button.alt-ribbon-colour::before {
  border-left-color: transparent;
}
.content-window .window .lg-ribbon-tabs button.alt-ribbon-colour::after {
  border-right-color: transparent;
}
.content-window .window .lg-ribbon-tabs button.alt-ribbon-colour .ribbon-shadow::before, .content-window .window .lg-ribbon-tabs button.alt-ribbon-colour .ribbon-shadow::after {
  border-color: #D1DB58 transparent transparent transparent;
}
.content-window .window .lg-ribbon-tabs button:active {
  background: #c72929;
  border-color: #c72929;
}
.content-window .window .lg-ribbon-tabs button:focus {
  box-shadow: none !important;
}
.content-window .window .lg-ribbon-tabs button::before, .content-window .window .lg-ribbon-tabs button::after {
  content: "";
  position: absolute;
  top: 7px;
  z-index: -1;
  height: 0px;
  border: 19px solid #c72929;
  transition: 1s;
}
.content-window .window .lg-ribbon-tabs button::before {
  left: calc(-40px + 11px);
  border-left-color: transparent;
}
.content-window .window .lg-ribbon-tabs button::after {
  right: calc(-40px + 11px);
  border-right-color: transparent;
}
.content-window .window .lg-ribbon-tabs button .ribbon-shadow::before, .content-window .window .lg-ribbon-tabs button .ribbon-shadow::after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #8F1F1F transparent transparent transparent;
  transition: 1s;
}
.content-window .window .lg-ribbon-tabs button .ribbon-shadow::before {
  bottom: -10px;
  left: 0;
  border-width: 10px 0 0 10px;
}
.content-window .window .lg-ribbon-tabs button .ribbon-shadow::after {
  bottom: -10px;
  right: 0;
  border-width: 10px 10px 0 0;
}
.content-window .window .lg-ribbon-tabs button svg {
  position: relative;
  left: 5px;
  bottom: 2px;
}
.content-window .window .lg-ribbon-tabs .dropdown-menu {
  width: 60%;
  max-width: 250px;
  padding: 0rem;
  text-align: center;
}
.content-window .window .lg-ribbon-tabs .dropdown-menu a {
  font-weight: bold;
  background-color: #8F1F1F;
  color: white;
}
.content-window .window .lg-ribbon-tabs .dropdown-menu .lg-tab-red-button a {
  color: #c72929;
  background-color: #f4ff77;
}

#react-sign-footer {
  color: #00daff;
  font-weight: bold;
  margin: 8rem auto 1rem;
  text-align: center;
}
#react-sign-footer img {
  width: 150px;
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
  background-color: transparent;
  color: black;
  border-color: #c72929;
}

.lg-ribbon-tabs .btn-success:not(:disabled):not(.disabled).active,
.lg-ribbon-tabs .btn-success:not(:disabled):not(.disabled):active,
.lg-ribbon-tabs .show > .btn-success.dropdown-toggle {
  color: white;
}

/* pages */
.skills-languages-container .row-skills-languages {
  margin: 0rem auto;
  max-width: 550px;
}
.skills-languages-container .row-skills-languages .col-skills-title {
  text-align: left;
}
.skills-languages-container .row-skills-languages .col-skills-title p {
  font-weight: bold;
}
.skills-languages-container .row-skills-languages .col-comfort-level {
  top: 35px;
  text-align: right;
}
.skills-languages-container .row-skills-languages .col-comfort-level .comfort-level {
  color: #c72929;
  font-weight: bold;
}
.skills-languages-container .row-skills-languages .col-skills-title {
  top: 20px;
}
.skills-languages-container .row-skills-languages .skills-bar {
  border: 2px solid #c72929;
  height: 15px;
  border-radius: 50px;
}
.skills-languages-container .row-skills-languages .skills-bar .languages-skills,
.skills-languages-container .row-skills-languages .skills-bar .framework-skills {
  transition: 1s;
  background-color: #c72929;
  height: 7px;
  margin-top: 2px;
  margin-left: 2.5px;
  width: 1%;
  border-radius: 50px;
}

.skills-page__tab-header-col hr {
  height: 3px;
  width: 25%;
  top: calc(20px + 1rem);
  margin-left: 4%;
  transition: 1s;
}

.skills-page__tab-item,
.lg-skills-tabs {
  font-weight: bold;
  text-transform: capitalize;
  display: inline-block;
  width: 33%;
}
.skills-page__tab-item a,
.lg-skills-tabs a {
  color: black;
}
.skills-page__tab-item.tab-languages.currently-active ~ hr,
.lg-skills-tabs.tab-languages.currently-active ~ hr {
  margin-left: 4%;
}
.skills-page__tab-item.tab-frameworks.currently-active ~ hr,
.lg-skills-tabs.tab-frameworks.currently-active ~ hr {
  margin-left: 35%;
}
.skills-page__tab-item.tab-technologies.currently-active ~ hr,
.lg-skills-tabs.tab-technologies.currently-active ~ hr {
  margin-left: 66%;
}
.skills-page__tab-item.tab-languages:hover ~ hr,
.lg-skills-tabs.tab-languages:hover ~ hr {
  margin-left: 4%;
}
.skills-page__tab-item.tab-frameworks:hover ~ hr,
.lg-skills-tabs.tab-frameworks:hover ~ hr {
  margin-left: 35%;
}
.skills-page__tab-item.tab-technologies:hover ~ hr,
.lg-skills-tabs.tab-technologies:hover ~ hr {
  margin-left: 66%;
}

.tab-content {
  font-family: courier-prime;
}
.tab-content .col {
  text-align: center;
  padding-top: 1rem;
}
.tab-content .col-lg-skills-tab button {
  color: black;
  font-weight: bold;
  text-transform: capitalize;
  width: 175px;
  background-color: transparent;
  border-color: #c72929;
  border-width: 2px;
}
.tab-content .col-lg-skills-tab button::after {
  vertical-align: middle;
}
.tab-content .col-lg-skills-tab button:active {
  color: black !important;
  border-color: #c72929 !important;
  background-color: transparent !important;
}
.tab-content .col-lg-skills-tab button:focus {
  box-shadow: none !important;
}
.tab-content .lg-skills-tabs {
  display: block !important;
}
.tab-content .lg-skills-tabs.d-none {
  display: none !important;
}
.tab-content .dropdown-menu {
  width: 175px;
}

.skills-page__technology-container {
  margin-top: 2rem;
}
.skills-page__technology-container .technology-buttons {
  position: relative;
  top: 0px;
  font-weight: bold;
  background-color: black;
  color: white;
  display: inline-block;
  border-radius: 100px;
  padding: 1rem;
  margin: 1rem;
  transition: 0.25s;
  box-shadow: -1px 3px 3px 0 rgba(0, 0, 0, 0.3);
}
.skills-page__technology-container .technology-buttons:hover {
  top: -3px;
  box-shadow: -6px 14px 12px 2px rgba(0, 0, 0, 0.3);
}

@media (max-width: 576px) {
  .col-comfort-level {
    top: 15px !important;
    text-align: left !important;
  }

  .col-skills-title,
.col-sm-7 {
    position: relative;
    top: 30px !important;
  }
}
@media (max-width: 350px) {
  .skills-page__technology-container .technology-buttons {
    display: block;
  }
}
#left-tabs-example-tabpane-tab-experience {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
#left-tabs-example-tabpane-tab-experience .nav-item {
  display: inline-block;
  z-index: 0;
  position: relative;
  margin-right: 10px;
}
#left-tabs-example-tabpane-tab-experience .nav-item a {
  font-weight: bold;
  color: black;
  font-family: courier-prime;
  font-size: 1.3em;
  position: relative;
  transition: 1s;
  color: grey;
}
#left-tabs-example-tabpane-tab-experience .nav-item a::before {
  content: "";
  position: absolute;
  height: 3px;
  transition: 1s;
  z-index: 2;
  width: 100%;
  height: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #c72929a1;
}
#left-tabs-example-tabpane-tab-experience .nav-item a:hover {
  color: black;
}
#left-tabs-example-tabpane-tab-experience .nav-item a:hover:before {
  height: 100%;
}
#left-tabs-example-tabpane-tab-experience .nav-item.currently-active a {
  color: black;
}
#left-tabs-example-tabpane-tab-experience .nav-item.currently-active a::before {
  height: 10px;
}
#left-tabs-example-tabpane-tab-experience .nav-item.currently-active a:hover:before {
  height: 100%;
}
#left-tabs-example-tabpane-tab-experience #experience-page-tabpane-Experience {
  font-family: courier-prime;
}
#left-tabs-example-tabpane-tab-experience #experience-page-tabpane-Experience .job-description-container {
  margin: 2rem 1rem 0rem;
}
#left-tabs-example-tabpane-tab-experience #experience-page-tabpane-Experience .job-description-container h5 {
  font-weight: bold;
}
#left-tabs-example-tabpane-tab-experience #experience-page-tabpane-Experience .job-description-container img {
  width: 80%;
  max-width: 150px;
}

.experience-page-content-row {
  text-align: center;
}
.experience-page-content-row .dropdown-menu {
  width: 175px;
}
.experience-page-content-row .dropdown-menu a {
  color: black !important;
  font-size: 1em !important;
}
.experience-page-content-row .dropdown-menu a::before {
  background-color: transparent !important;
}
.experience-page-content-row #experience-page-dropdown-toggle-menu-button {
  color: black;
  font-weight: bold;
  text-transform: capitalize;
  width: 175px;
  background-color: transparent;
  border-color: #c72929;
  border-width: 2px;
}
.experience-page-content-row #experience-page-dropdown-toggle-menu-button:active {
  color: black !important;
  border-color: #c72929 !important;
  background-color: transparent !important;
}
.experience-page-content-row #experience-page-dropdown-toggle-menu-button:focus {
  box-shadow: none !important;
}

.training-container {
  font-family: courier-prime;
}

@media (max-width: 991px) {
  #left-tabs-example-tabpane-tab-experience {
    overflow: hidden;
  }
}
.row-past-projects {
  font-family: courier-prime;
}
.row-past-projects .header-past-project {
  display: inline-block;
  background-image: linear-gradient(white, white), linear-gradient(#c72929, #c72929), linear-gradient(#8F1F1F, #8F1F1F);
  background-size: 20px 3px, 100% 3px, 0 3px;
  background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 2s linear, background-position 2s linear;
}
.row-past-projects .header-past-project:hover {
  background-size: 20px 3px, 0 3px, 100% 3px;
  background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
}
.row-past-projects img {
  text-align: center;
  padding: 1rem;
  width: 100%;
  max-width: 350px;
}
.row-past-projects .btn {
  background-color: #c72929;
  width: 125px;
  border-radius: 25px;
  border-color: #c72929;
}
.row-past-projects .btn:hover {
  background-color: #8F1F1F;
}
.row-past-projects .btn:active {
  background-color: #c72929 !important;
  border-color: #c72929 !important;
}
.row-past-projects .btn:focus {
  box-shadow: none !important;
}

#left-tabs-example-tabpane-tab-past-projects {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media (max-width: 992px) {
  #left-tabs-example-tabpane-tab-past-projects {
    overflow: hidden;
  }
}
#left-tabs-example-tabpane-tab-about-me {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
#left-tabs-example-tabpane-tab-about-me .about-me-page-container {
  font-family: courier-prime;
}
#left-tabs-example-tabpane-tab-about-me .about-me-page-container h4 {
  position: relative;
  display: inline-block;
}
#left-tabs-example-tabpane-tab-about-me .about-me-page-container h4::before {
  content: "";
  position: absolute;
  background-color: #c72929;
  width: 100%;
  height: 3px;
  bottom: 0px;
  transition: 1s;
}
#left-tabs-example-tabpane-tab-about-me .about-me-page-container h4:hover::before {
  width: 3%;
  margin-left: 50%;
}
#left-tabs-example-tabpane-tab-about-me .about-me-page-container p {
  padding: 0.5rem 2rem;
}
#left-tabs-example-tabpane-tab-about-me .about-me-page-container img {
  width: 50%;
}

@media (max-width: 991px) {
  #left-tabs-example-tabpane-tab-about-me {
    overflow: hidden;
  }
}
.red-button-row {
  margin-top: 40%;
}
.red-button-row .col {
  text-align: center;
}
.red-button-row .col #red-button {
  cursor: pointer;
  background: linear-gradient(#c72929 150px, #c73e1d, #a23b72, #2e86ab 300px);
  background-size: 1px 300px;
  display: inline-block;
  color: white;
  font-weight: bold;
  font-family: courier-prime;
  height: 110px;
  width: 110px;
  padding: 2rem;
  border-radius: 100px;
  box-shadow: 5px 3px 3px 0 rgba(0, 0, 0, 0.3);
  transition: 1s;
}

canvas {
  height: 100%;
  width: 100%;
  position: absolute;
}

@media (max-width: 991px) {
  .red-button-row {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
}
@font-face {
  font-family: roboto;
  src: url("./font/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: roboto;
  font-weight: bold;
  src: url("./font/Roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: courier-prime;
  src: url("./font/courier-prime/CourierPrime-Regular.ttf") format("truetype");
}
@font-face {
  font-family: courier-prime;
  font-weight: bold;
  src: url("./font/courier-prime/CourierPrime-Bold.ttf") format("truetype");
}

/*# sourceMappingURL=style.css.map */
